body {
    background-image: url("../images/programmation.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 80%;
}

section {
    display: flex;
    flex-wrap: nowrap;
    padding: 2em;
    margin: 2em;
}

main {
    padding: 0.3em;
    margin: 0.3em;
}

.element-page-compte {
    flex-basis: 33%;
    flex-grow: 1;
}