table,
th,
td {
    border-collapse: collapse;
    margin: auto;
}

table {
    width: 30%;
}

.entete-gauche-tab {
    border-right: medium solid white;
    border-bottom: medium solid white;
}

.entete-droit-tab {
    border-left: medium solid white;
    border-bottom: medium solid white;
}

.contenu-gauche-tab {
    border-right: medium solid white;
    border-top: thin dotted white;
}

.contenu-droit-tab {
    border-left: medium solid white;
    border-top: thin dotted white;
}

h2 {
    margin-bottom: 0em;
}

h4 {
    margin: 0em;
    font-size: 1em;
    font-weight: bolder;
}

.image-artiste {
    width: 25em;
    border-radius: 50%;
}

main {
    margin-bottom: 3em;
    margin-right: 2em;
    margin-left: 2em;
}

.boite-images {
    width: 38em;
    height: 36em;
    position: relative;
    float: left;
    margin-right: 2em;
    margin-left: 2em;
}

.cadre-artiste {
    position: absolute;
    z-index: 1;
    width: 38em;
    left: 0%;
}

.image-artiste {
    position: absolute;
    z-index: 2;
    width: 23em;
    bottom: 15%;
    left: 16%;
}