body {
    background-image: url("../images/programmation.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 80%;
}

.image-artiste {
    border-radius: 50%;
    width: 8em;
    height: 8em;
}

.liste-artistes {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0em;
}

.liste-artistes>li {
    text-align: center;
    flex-basis: 33%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.liste-artistes>li>p {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0em;
}

#search {
    width: 70%;
    margin: 1.5em;
    display: flex;
    flex-wrap: nowrap;
    margin-right: auto;
    margin-left: auto;
}

input,
select,
.searchreset {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

select {
    flex-basis: 11%;
    flex-grow: 0;
}

#searchinput {
    flex-basis: 40%;
    flex-grow: 1;
}

#datehourinput {
    flex-basis: 10%;
    flex-grow: 0;
    height: 3.1em;
}

#searchinput,
select {
    height: 2.5em;
}

#searchinput,
#datehourinput,
select {
    background-color: white;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
}

.searchreset {
    flex-basis: 10%;
    flex-grow: 0;
}