/* CSS général */
@font-face {
    font-family: "garet-book";
    src: url("../font/Garet-Book.ttf");
}

@font-face {
    font-family: "garet-heavy";
    src: url("../font/Garet-Heavy.ttf");
}

body {
    background-color: black;
    color: white;
    font-family: "garet-book";
}

button {
    background-color: transparent;
    border: solid #e5e900;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    padding: 0.2em;
    /* height: 2.8em; */
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin: 0.5em;
}

h1 {
    text-transform: uppercase;
}

/* CSS pour la barre de navigation */
header img {
    width: 2.8em;
    height: 2.8em;
    margin: 0em;
}

header button {
    margin: 0.3em;
}

/* CSS pour la page d'accueil */
#titre-accueil {
    font-size: 8em;
}

#main-accueil {
    margin-left: 2.5em;
    margin-right: 5em;
    width: 100%;
}

#img-accueil {
    object-position: right;
    width: 20em;
}

#article-accueil {
    text-transform: uppercase;
    font-weight: bolder;
}
