/* CSS général */
@font-face {
    font-family: "garet-book";
    src: url("../font/Garet-Book.ttf");
}

@font-face {
    font-family: "garet-heavy";
    src: url("../font/Garet-Heavy.ttf");
}

body {
    background-color: black;
    color: white;
    font-family: "garet-book";
}

p {
    font-size: large;
}

button {
    background-color: transparent;
    border: solid #e5e900;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin: 0.5em;
}

h1 {
    text-transform: uppercase;
}

/* CSS pour la barre de navigation */
header img {
    width: 3.5em;
    height: 3.5em;
}

header button {
    margin: 0.3em;
    height: 3.2em;
}

header {
    padding: 2em;
}

footer {
    padding-left: 1.8em;
    padding-right: 1.8em;
}
