{% extends "base.html" %}
{% block titre %}
<title>Accueil - FestIUTO</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/accueil.css') }}">
{% endblock %}
{% block content %}
<main>
  <section>
    <h1>Share the thrill now</h1>
    <p>Entrez dans un monde d'excitation sans limite lors de notre festival extravagant, où des rythmes endiablés et des
      spectacles électrisants convergent pour créer des moments inoubliables. Plongez dans une variété de genres
      musicaux et d'artistes dont vous ne soupçonnez pas l'existence. Notre festival transcende l'ordinaire, en offrant
      un voyage multisensoriel qui combine des visuels à couper le souffle, des délices culinaires et un esprit de
      communauté qui résonne dans chaque note. Rejoignez-nous pour une célébration de la vie, de l'unité, et de la joie
      de vivre.
    </p>
    <a href="{{ url_for('programmation') }}"><button>Voir la<br>programmation</button></a>
    <a href="{{ url_for('reservation') }}"><button>Faire une<br>réservation</button></a>
    <article>
      <p>Suivez-nous !</p>
      <ul>
        <li>――――――</li>
        <li>
          <a href="https://www.facebook.com/"><img class="facebook-icon"
              src="{{ url_for('static', filename='images/facebook.png') }}" alt="Logo Facebook"></a>
        </li>
        <li>
          <a href="https://www.twitter.com/"><img class="twitter-icon"
              src="{{ url_for('static', filename='images/twitter.png') }}" alt="Logo Twitter"></a>
        </li>
        <li>
          <a href="https://www.instagram.com/"><img class="instagram"
              src="{{ url_for('static', filename='images/instagram.png') }}" alt="Logo Instagram"></a>
        </li>
      </ul>
    </article>
  </section>
</main>
{% endblock %}