<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>FestIUTO</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pos.css') }}">
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    <header>
      <div id="bloc-logo-nav">
        <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo du site">
      </div>
      <button id="espace-compte">Espace compte</button>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <p>© 2023-2024 Gestlab.</p>
    </footer>
  </body>
</html>