<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>FestIUTO</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pos.css') }}">
  </head>
  <body>
    <header>
      <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo du site">
      <button id="espace-compte">Espace compte</button>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <p>© 2023-2024 Gestlab.</p>
    </footer>
  </body>
</html>