<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  {% block titre %}
  {% endblock %}
  <title>FestIUTO</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato'>
  {% block styles %}
  {% endblock %}
</head>

<body>
  <header>
    {% if not accueil %}
    <div class="bloc-logo-nav">
      <a href="{{ url_for('accueil') }}"><img class="logo" src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Logo du site"></a>
      <nav class="barre-navigation">
        <ul class="liste-barre-nav">
          <li><a href="{{ url_for('accueil') }}">Accueil</a></li>
          {% if id_page == 1 %}
          <li><a href="{{ url_for('programmation') }}" class="lien-page-courante">Programmation</a></li>
          {% else %}
          <li><a href="{{ url_for('programmation') }}">Programmation</a></li>
          {% endif %}
          {% if id_page == 2 %}
          <li><a href="{{ url_for('reservation') }}" class="lien-page-courante">Réservation</a></li>
          {% else %}
          <li><a href="{{ url_for('reservation') }}">Réservation</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {% else %}
    <a href="{{ url_for('accueil') }}"><img class="logo" src="{{ url_for('static', filename='images/logo.png') }}"
        alt="Logo du site"></a>
    {% endif %}
    {% if not moncompte %}
    <a href="{{ url_for('espace_compte') }}"><button class="espace-compte">Espace compte</button></a>
    {% else %}
    <a href="{{ url_for('deconnexion') }}"><button class="espace-compte">Déconnexion</button></a>
    {% endif %}
  </header>
  {% block content %}
  {% endblock %}
  <footer>
    <p>© 2023-2024 FestIUTO.</p>
  </footer>
</body>

</html>