{% extends "base.html" %}
{% block titre %}
<title>Mes informations - FestIUTO</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mes-informations.css') }}">
{% endblock %}
{% block content %}
<main>
    <h1 class="titre-principal-page">Mes informations</h1>
    <form action="" method="get" class="formulaire-inscription">
        {{ form.hidden_tag() }}
        <div class="portion-formulaire-haute">
            <label class="label-haut" for="name">{{ form.firstname.label }}</label>
            {{ form.firstname(class="champ-de-texte", placeholder=form.firstname.default) }}
        </div>
        <div class="portion-formulaire-haute">
            <label class="label-haut" for="name">{{ form.lastname.label }}</label>
            {{ form.lastname(class="champ-de-texte", placeholder=form.lastname.default) }}
        </div>
        <div class="portion-formulaire-basse">
            <label class="label-bas" for="email">{{ form.email.label }}</label>
            {{ form.email(class="champ-de-texte", placeholder=form.email.default) }}
        </div>
        <div class="portion-formulaire-basse">
            <label class="label-bas" for="email">{{ form.password.label }}</label>
            {{ form.password(class="champ-de-texte") }}
        </div>
        <input class="bouton-validation" type="submit" value="Valider les modifications" />
    </form>
</main>
{% endblock %}