{% extends "base.html" %}
{% block titre %}
<title>Connexion - FestIUTO</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/connexion.css') }}">
{% endblock %}
{% block content %}
<main>
    <h1 class="titre-principal-page">Connexion</h1>
    <p>Pas de compte ? <b><a href="{{ url_for('inscription') }}">Inscrivez-vous</a></b> !</p>
    <form action="{{ url_for('connexion') }}" method="POST" class="formulaire-inscription">
        {{ form.hidden_tag() }}
        <div class="portion-formulaire">
            <label for="email">{{ form.email.label }}</label>
            <div class="champ-de-texte">{{ form.email(size=50, class_="form-control", placeholder="") }}</div>
        </div>
        <div class="portion-formulaire">
            <label for="email">{{ form.password.label }}</label>
            <div class="champ-de-texte">{{ form.password(size=50, class_="form-control", placeholder="") }}</div>
        </div>
        <input class="bouton-validation" type="submit" value="Se connecter" />
        <label for="password_incorrect" class="error">{{ form.password_incorrect }}</label>
    </form>
    <p>Mot de passe oublié ?</p>
</main>
{% endblock %}