{% extends "base.html" %}
{% block titre %}
<title>Mes favoris - FestIUTO</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/favoris.css') }}">
{% endblock %}
{% block content %}
<main>
    <h1 class="titre-principal-page">Mes favoris</h1>
    <form id="search" action="recherche" role="search" method="post">
        <input type="search" name="search" id="searchinput" placeholder="Rechercher" oninput="changeArtist()">
        <select name="Style" id="Style" onchange="changeArtist()">
            <option value="">Style</option>
            {% for un_style in les_styles %}
            <option value="{{ un_style.IDgenre }}">{{ un_style.nom_genre }}</option>
            {% endfor %}
        </select>
        <select name="Lieu" id="Lieu" onchange="changeArtist()">
            <option value="">Lieu</option>
            {% for un_lieu in les_lieux %}
            <option value="">{{ un_lieu }}</option>
            {% endfor %}
        </select>
        <input type="date" name="datehour" id="datehourinput" oninput="changeArtist()">
        <input class="searchreset" type="button" value="Réinitialiser" oninput="changeArtist()">
    </form>
    {% if les_artistes|length == 0 %}
    <p>Aucun artiste n'est dans vos favoris.</p>
    {% endif %}
    <ul class="liste-artistes">
        {% for un_artiste in les_artistes %}
        <li>
            <img class="image-artiste" src="{{ url_for('static', filename='images/placeholder_artiste.jpg') }}" alt="">
            <h2>{{ un_artiste[0] }}</h2>
            <p><img class="petites-icone-pages" src="{{ url_for('static', filename='images/music_style.png') }}"
                    alt="Icone style de musique"> Style
                : {{ un_artiste[1] }}</p>
            <p><img class="petites-icone-pages" src="{{ url_for('static', filename='images/calendar_date.png') }}"
                    alt="Icone calendrier"> Du {{ un_artiste[2] }}<br>au {{ un_artiste[3] }}</p>
            <p><img class="petites-icone-pages" src="{{ url_for('static', filename='images/location.png') }}"
                    alt="Icone lieu"> {{ un_artiste[4] }}</p>
            <button>Voir plus</button>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}