{% extends "base.html" %}
{% block titre %}
<title>{{ un_artiste.nom_artiste }} - FestIUTO</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/infos-artistes.css') }}">
{% endblock %}
{% block content %}
<main>
    <h1 class="titre-principal-page">{{ un_artiste.nom_artiste }}</h1>
    <div class="boite-images">
        <img class="cadre-artiste" src="{{ url_for('static', filename='images/cadre_artiste.png') }}"
            alt="Cadre photo artiste">
        {% if not photos %}
        <img class="image-artiste" src="{{ url_for('static', filename='images/placeholder_artiste.jpg') }}"
            alt="Image par défaut">
        {% else %}
        <img class="image-artiste" src="{{ photos.lien_photo }}" alt="Image de l'artiste">
        {% endif %}
    </div>
    <section>
        <h2>À propos</h2>
        <p>
            {{ un_artiste.description }}
        </p>
        <p><img class="petites-icone-pages" src="{{ url_for('static', filename='images/music_style.png') }}"
                alt="Icone style de musique"> Style : {{ style.nom_genre }}</p>
    </section>
    <section>
        <h2>Programme</h2>
        <h3><img class="petites-icone-pages" src="{{ url_for('static', filename='images/location.png') }}"
                alt="Icone lieu"> {{ programmer.lieu_concert }}</h3>
        <table>
            <thead>
                <tr>
                    <th class="entete-gauche-tab">
                        <h4>Date</h4>
                    </th>
                    <th class="entete-droit-tab">
                        <h4>Heure</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="contenu-gauche-tab">
                        {{ programmer.date_debut }}
                    </td>
                    <td class="contenu-droit-tab">
                        {{ programmer.heure_debut }}
                    </td>
                </tr>
                <!-- <tr>
                    <td class="contenu-gauche-tab">
                        18/12/2023
                    </td>
                    <td class="contenu-droit-tab">
                        12h - 14h<br>
                        18h - 20h
                    </td>
                </tr> -->
            </tbody>
        </table>
    </section>
    <section>
        <h2>Activités</h2>
        <h3>{{ activite.nom_activite }}</h3>
        <p>{{ activite.description_activite }}</p>
        <p>Date : {{ activite.date }} | Heure : {{ activite.heure }} </p>
        <p>Lieu: {{ activite.lieu }}</p>
    </section>
</main>
{% endblock %}