{% extends "base.html" %}
{% block titre %}
<title>(Nom artiste) - FestIUTO</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inscription.css') }}">
{% endblock %}
{% block content %}
<main>
    <h1 class="titre-principal-page">Inscription</h1>
    <p>Vous avez un compte ? <b>Connectez-vous</b> !</p>
    <form action="" method="get" class="formulaire-inscription">
        <div class="groupement-nom-prenom">
            <div class="form-example">
                <label for="name">Prénom</label>
                <input type="text" name="firstname" id="firstname" required />
            </div>
            <div class="form-example">
                <label for="name">Nom</label>
                <input type="text" name="lastname" id="lastname" required />
            </div>
        </div>
        <div class="form-example">
            <label for="email">Adresse mail</label>
            <input type="email" name="email" id="email" required />
        </div>
        <div class="form-example">
            <label for="email">Mot de passe</label>
            <input type="password" name="password" id="password" required />
        </div>
        <!-- <div class="form-example"> -->
        <input class="bouton-validation" type="submit" value="Subscribe!" />
        <!-- </div> -->
    </form>
</main>
{% endblock %}