{% extends "base.html" %}
{% block titre %}
<title>Programmation - FestIUTO</title>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/programmation.css') }}">
{% endblock %}
{% block content %}
<main>
    <h1 class="titre-principal-page">Programmation</h1>
    <form id="search" action="{{ url_for('searchartist') }}" role="search" method="post">
        <input type="search" name="search" id="searchinput" placeholder="Rechercher">
        <select name="Style" id="Style">
            <option value="">Style</option>
            {% for un_style in les_styles %}
            <option value="{{ un_style.nom_genre }}">{{ un_style.nom_genre }}</option>
            {% endfor %}
        </select>
        <select name="Lieu" id="Lieu">
            <option value="">Lieu</option>
            {% for un_lieu in les_lieux %}
            <option value="{{ un_lieu }}">{{ un_lieu }}</option>
            {% endfor %}
        </select>
        <input type="date" name="datehour" id="datehourinput">
        <input class="searchreset" type="submit" value="Rechercher">
    </form>
    <ul class="liste-artistes">
        {% for un_artiste in les_artistes %}
        <li>
            <img class="image-artiste" src="{{ url_for('static', filename='images/placeholder_artiste.jpg') }}" alt="">
            <h2>{{ un_artiste[0] }}</h2>
            <p><img class="petites-icone-pages" src="{{ url_for('static', filename='images/music_style.png') }}"
                    alt="Icone style de musique"> Style
                : {{ un_artiste[1] }}</p>
            <p><img class="petites-icone-pages" src="{{ url_for('static', filename='images/calendar_date.png') }}"
                    alt="Icone calendrier"> Du {{ un_artiste[2] }}<br>au {{ un_artiste[3] }}</p>
            <p><img class="petites-icone-pages" src="{{ url_for('static', filename='images/location.png') }}"
                    alt="Icone lieu"> {{ un_artiste[4] }}</p>
            <a href="{{ url_for('infos_artiste', idartiste=un_artiste[5]) }}"><button>Voir plus</button></a>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}